# Operating system
.DS_Store

# Editor
.idea/

# Dependencies
node_modules/
npm-debug.log
# Generated project files
coverage/
dist/

# Logs
*.log
*.logs/*

# Other
coverage/*
reports/*
.vscode
data/*
backups/*
package-lock.json
